{% extends 'base.html' %}
{% load cache %}
{% load thumbnail %}
{% block title %} Подписки {% endblock %}
{% block content %}
<div class="container py-5">
  {% include 'posts/includes/switcher.html' with follow=True %}
  {% for post in page_obj %}
  <div class="container py-3">
    <article>
      {% include 'posts/post.html' %}
      {% if post.group %}
      <a href="{% url 'posts:group_list' post.group.slug %}" class="btn btn-link">Все записи группы - "{{ post.group }}"</a>
      {% endif %}
    </article>
  </div>
</div>
{% if not forloop.last %}
<hr>{% endif %}
{% endfor %}
<div class="d-flex justify-content-center">
  {% include 'posts/includes/paginator.html' %}
</div>
{% endblock %}